@import '../../styles/constants.scss';

.contactcont {

    padding: 100px 30px 30px 30px;
    width: 100%;
    display: flex;



    .details {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url('../../../public/images/imgbgcontact01.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 50%;

        .icon {
            display: flex;
            align-items: center;
            //justify-content: center;
            width: 100%;
            color: #fff;
            font-size: 30px;
            i{
                padding: 40px;
            }
           
        }

        .address {
            display: flex;
            padding-bottom: 15px;
            justify-content: center;
            flex-direction: column;
            color: #fff;
            font-size: 35px;
            font-weight: 600;
            .subtext{

                color: #fff;
                font-size: 10px;
                padding-bottom: 20px;
                
            }
        }
    }


    .form {

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 56px 55px 63px;
        width: 50%;

        .title {
            width: 100%;
            display: block;
            font-size: 30px;
            color: #333;
            text-align: center;
            padding-bottom: 33px;
        }

        label {
            font-size: 12px;
            color: #555;
            display: flex;
            align-items: center;
            width: 100%;
            border: 1px solid #e6e6e6;
            padding: 10px 25px;
            margin-top: 15px;
        }

        .name {
            width: 100%;

            .textbox {
                width: 50%;
                font-size: 18px;
                color: #666;
                padding: 10px 25px;
                //height: 55px;
                border: 1px solid #6666;
            }
        }

        .email {
            width: 100%;

            .textbox {
                width: 100%;
                font-size: 18px;
                color: #666;
                padding: 10px 25px;
                //height: 55px;
                border: 1px solid #6666;
            }

        }

        .message {
            width: 100%;

            .msg {
                width: 100%;
                font-size: 18px;
                color: #666;
                padding: 0px 25px;
                height: 150px;
                border: 1px solid #6666;

            }
        }

        .button {
            input {
                background-color: #FFC800;
                margin-top: 10px;
                margin-bottom: 10px;
                padding: 5px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                width: 200px;
                height: 50px;
                font-weight: bold;

            }

            :hover {
                background-color: #3126a6;
                color: #fff;
            }
        }

    }
}