.cardcont {

    padding-top: 150px;
    .imgcont {
        Image{

            border-radius: 25px;
        }
    }

    .desc {
        a {
            font-size: x-large;
            font-weight: 700;
        }
    }
}