.enqContainer {
    width: 100%;
    max-height: 20px;
    background-color: rgba(79, 158, 248, .1);
    transition: max-height 1s;
    h3 {

        padding: 0px 0px 10px 0px;
        color: #fff;
        text-align: center;
    }

    .enqform {

        padding: 0.5rem;
        input {
            width:95%;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            padding-left: 0.5rem;
            margin:5px 5px 5px 5px;
            border-radius: 5px;

        }
        textarea{
            width: 95%;
            padding-top: 1rem;
            padding-bottom: 1rem;
            padding-left: 0.5rem;
            margin: 5px 5px 5px 5px;

        }

    }
    .btnsubmit{
        color: #fff;
        background-color: #d6293e;
        border-color: #d6293e;
        width:100%;
        border: 1px solid transparent;
        padding: 0.5rem 1rem;
        font-size: .9375rem;
        border-radius: 0.25rem;
        cursor: pointer;
    }
    .btnsubmit:hover{
        color: #fff;
        background-color: #b62335;
        border-color: #ab2132; 
    }
}
.active{
    max-height: 480px;
}