.enqContainer {
    width: 300px;
    margin-top: 100px;

    background-color: rgba(79, 158, 248, .1);

    h2 {
        background-color: #005688;
        padding: 0.5rem 1rem;
        color: #fff;
        text-align: center;
    }

    .enqform {

        padding: 0.5rem;
        input {
            width:95%;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            padding-left: 0.5rem;
            margin:5px 5px 5px 5px;
            border-radius: 5px;

        }
        textarea{
            width: 95%;
            padding-top: 1rem;
            padding-bottom: 1rem;
            padding-left: 0.5rem;
            margin: 5px 5px 5px 5px;

        }

    }
}